auto-save-list/
*~
eln-cache/
elpaca/
elpa/
*#
/history
/transient/
/*.sqlite
/recentf
/bookmarks
.project
/eshell/
/projects
/places
/.DS_Store
/.org-id-locations
*.db
/persist/
/tabsession.el
/undo-fu-session/
/tree-sitter/
/.cache/
/projectile-bookmarks.eld
/.lsp-session-v1
/tramp
/.lsp-session
/url/
